<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mithcell Sun</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <div class="navigator">
            <div class="my__logo">
                <p>Mithcell <span class="change__color">Sun</span></p>
            </div>
            <nav>
                <ul class="nav__list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Skill</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="card">
            <div class="card__top">
                <img src="../assets/avatar.jpeg" alt="avatar">
                <!-- <div class="avatar"></div> -->
                <div class="card__top__info">
                    <h1>Mitchell Sun</h1>
                    <h4>Full-stack Developer</h4>
                    <div class="card__top__info__media__list">
                        <div><a href="#"><img src="../assets/linkedin-box-fill.svg" alt="linkedin"></a></div>
                        <div><a href="#"><img src="../assets/github-fill.svg" alt="github"></a></div>
                        <div><a href="#"><img src="../assets/mail-send-fill.svg" alt="mail"></a></div>
                    </div>
                </div>
            </div>
            <div class="card__bottom">
                <div class="card__bottom__about__me">
                    <h2>About <span class="change__color">Me</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card__bottom__info">
                    <div class="card__bottom__info__type">Age</div>
                    <div class="card__bottom__info__item">25</div>
                    <div class="card__bottom__info__type">Residence</div>
                    <div class="card__bottom__info__item">Australia</div>
                    <div class="card__bottom__info__type">Address</div>
                    <div class="card__bottom__info__item">3 Finch Dr, Sydney</div>
                    <div class="card__bottom__info__type">e-mail</div>
                    <div class="card__bottom__info__item">info@gmail.com</div>
                    <div class="card__bottom__info__type">Phone</div>
                    <div class="card__bottom__info__item">+61 0401 000 000</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>