<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
</head>
<body>
    <div class="container">
        <header class="main-header">
            <h1>Card Design</h1>
        </header>
        <div class="container">
            <div id="card-1">
                <img src="../assets/lightning.jpg" alt="Toledo, Spain" style="width: 100%">
                <div class="tag-container">
                    <p>SPAIN</p>
                </div>
                <div class="bottom-container">
                    <div class="text-container">
                        <h4>Toledo, Spain</h3>
                        <p>Also known as the Imperial City.</p>
                    </div>
                    <button class="btn"><i class="like-button"></i></button>
                </div>
            </div>
            <div class="card-2">
                <img src="../assets/lightning.jpg" alt="Boboli Gardens" style="width: 100%">
                <div class="tag-container">
                    <p>ITALY</p>
                </div>
                <img src="../assets/lightning.jpg" alt="Display video">
                <div class="hover-container">
                    <h2>Boboli Gardens</h2>
                    <p>Florence, Italy</p>
                </div>
                <button class="btn"><i class="more-button"></i></button>
            </div>
        </div>
    </div>
</body>
</html>